.div1 {
    border: 2px solid;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: 100px auto;
    background-color: black;
    padding: 20px;
}

h1 {
    text-align: center;
    color: red;
}
label {
    color: red;
    font-size: 17px;
}
#uname, #pass {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
}
#log {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
    color: red;
    background-color: white;
}

.navbar-brand img {
    width: 100px;
    height: 70px;
}

.nav-link img {
    width: 20px;
}